/* :root{
    --auxiliar1: #dfac12;
    --auxiliar2 : #00814A;
  } */
  

@font-face {
    font-family: 'ITC Eras Demi';
    src: url('../public/ITC Eras Demi.ttf') format('truetype');
  }
  





.container {
    background-color: #00814A;
}


@media only screen and (max-width: 444px){
    .container{
        background-color: white;
    }
}

.titulo {
    margin: 11px 11px;
    font-family: 'ITC Eras Demi', sans-serif;
    color:'#dfac12';
    font-size: 1.5rem;


}

.canvas {
    margin: auto;
}

