@font-face {
    font-family: 'ITC Eras Demi';
    src: url('../public/Tipos/ITC Eras Demi.ttf') format('truetype');
  }
  





.container {
    background-color: orange;
}


@media only screen and (max-width: 444px){
    .container{
        background-color: silver;
    }
}

.titulo {
    margin: 22px 22px
    
}

